@import 'statics';

@keyframes animeSvg {
    to {
        transform: translate(-50%, -10px);
    }
}

@keyframes upDown {
    to {
        transform: translateY(-5px);
    }
}

@keyframes upUpDownDown {
    to {
        transform: translateY(-10px);
    }
}