@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'statics';
@import 'animations';
@import 'navbar';
@import 'navbarRes';
@import 'home';
@import 'work';
@import 'timeline';
@import 'services';
@import 'skills';
@import 'contact';
@import 'footer';
@import 'responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $text2;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: $color1;
    overflow-x: hidden;
}

.disableBtn {
    cursor: not-allowed !important;
    background-color: rgb(237,237,237) !important;
    color: $color6 !important; 
}

#customMsg {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    font: 900 2rem $text2;
}