@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  body {
    @apply font-primary bg-white dark:bg-primary text-primary dark:text-white leading-loose;
  }

  .h1 {
    @apply text-[68px] lg:text-[90px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] lg:text-[38px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] lg:text-[24px] leading-[1.1] font-semibold;
  }

  .gradient-heading {
    background: linear-gradient(
      43deg,
      #0079c2,
      #36b7fe,
      #82c7ff,
      #ff9933,
      #36feab 
    );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: gradient 5s linear infinite;
  }

  .text-outline-dark {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-light {
    -webkit-text-stroke: 1px #1c1c22;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #36b7fe;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *{
    scroll-behavior: smooth;
    cursor: none;
  }

  body {
    cursor: none;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 25% 25%;
    }
    50% {
      background-position: 50% 50%;
    }
    75% {
      background-position: 75% 75%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}